annotated-types
anyio==3.7.1
appnope==0.1.3
asttokens==2.4.0
backcall==0.2.0
click==8.1.7
comm==0.1.4
debugpy
decorator
exceptiongroup
executing
fastapi
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
nltk
numpy
packaging
pandas
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic
pydantic_core
Pygments
python-dateutil
pytz
pyzmq
regex
scikit-learn
scipy
six
sklearn
sniffio
stack-data
starlette
tabulate
textblob
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
